@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Lato";
    font-size: 14px;
}


.first-screen {
    width: 100%;
    height: 100vh;
    padding-top: 17px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../img/bg.png") no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 0 165px;
    margin-bottom: 140px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 445px;
}
.header-menu__item {
    line-height: 17px;
}
.header-menu__item:hover {
    font-weight: 700;
}
.header__button {
    width: 100px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    line-height: 40px;
    text-transform: uppercase;
}
.header__button:hover {
    font-weight: 700;
    border-color: black;
}
.first-screen__text {
    max-width: 578px;
    margin: 0 auto;
    font-weight: 600;
    color: #FFFFFF;
}
.first-screen__text_heading {
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 39px;
}
.first-screen__text_description {
    min-height: 124px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 39px;
}
.first-screen__text-link {
    display: block;
    text-align: center;
}
.first-screen__text_link-button {
    width: 160px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 2px solid transparent;
    line-height: 50px;
    text-transform: uppercase;
    color: #ED4C5C;
}
.first-screen__text_link-button:hover {
    border-color: black;
}

.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 260px 0 165px;
    min-height: 500px;
    background: #FFFFFF;
}
.overview-text {
    max-width: 445px;
    min-height: 250px;
    line-height: 20px;
    color: #000000;
}
.overview-text__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 24px;
}
.overview-text__description {
    max-width: 445px;
    min-height: 84px;
    text-align: justify;
    margin-bottom: 15px;
}
.overview-text__link {
    color: #ED4C5C;
}
.overview-text__link:hover {
    color: #000000;
}
.overview-image__item {
    max-width: 445px;
    min-height: 311px;
    border-radius: 15px;
    object-fit: cover;
}

.features {
    padding: 63px 165px 0 165px;
    min-height: 660px;
    background: #FAFAFA;
}
.features__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    margin-bottom: 63px;
}
.features-list {
    display: flex;
    justify-content: space-between;
}
.features-list__item {
    position: relative;
}
.features-list__item-image img {
    max-width: 350px;
    min-height: 250px;
    object-fit: cover;
}
.feature-list__item-text {
    position: absolute;
    bottom: 0;
    margin-bottom: -105px;
    margin-left: 29px;
    padding: 33px 20px 25px 20px;
    max-width: 293px;
    min-height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}
.feature-list__item-text-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.feature-list__item-text-description {
    min-height: 57px;
    margin-bottom: 5px;
}
.feature-list__item-text-link {
    font-weight: 700;
    color: #ED4C5C;
}
.feature-list__item-text-link:hover {
    color: blue;
}

.technology {
    padding: 63px 165px 0 165px;
    min-height: 500px;
    background: #FFFFFF;
}
.technology__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    margin-bottom: 52px;
}
.technology-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 226px;
}
.technology-list__item {
    max-width: 255px;
    min-height: 226px;
    margin: 0 auto;
}
.technology-list__item-wrap {
    position: relative;
    padding: 0 69px;
}
.technology-list__item-wrap-number {
    max-width: 117px;
    min-height: 120px;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    margin-bottom: 19px;
}
.technology-list__item-wrap-image {
    position: absolute;
    bottom: 0;
    margin-bottom: -19px;
    margin-left: 18px;
    width: 80px;
}
.technology-list__item__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-bottom: 10px;
}
.technology-list__item__description {
    min-height: 51px;
    padding: 0 32px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.mobile-apps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    padding: 0 260px 0 165px;
    background: #ED4C5C;
}
.mobile-apps-text {
    max-width: 447px;
    min-height: 267px;
    color: #FFFFFF;
}
.mobile-apps__heading {
    min-height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 24px;
}
.mobile-apps__description {
    min-height: 64px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 40px;
}
.mobile-apps-list {
    width: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-apps-list img {
    min-width: 32px;
    min-height: 32px;
    border: 2px solid transparent;
    border-radius: 6px;
}
.mobile-apps-list img:hover {
    border-color: #101010;
}
.mobile-apps-photo img {
    max-width: 445px;
    min-height: 311px;
    border-radius: 15px;
    object-fit: cover;
}

.contact {
    min-height: 500px;
    padding: 117px 165px 0 165px;
    display: flex;
    justify-content: space-between;
}
.contact-text {
    max-width: 445px;
    min-height: 160px;
    color: #000000;
}
.contact-text__heading {
    min-height: 60px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 36px;
}
.contact-text-descriprion {
    max-width: 434px;
    min-height: 64px;
    line-height: 20px;
    text-align: justify;
}
.contact-form {
    max-width: 540px;
    max-height: 302px;
    font-size: 0;
}
.contact-form input, .contact-form button {
    font-size: 14px;
}
.contact-form__input {
    min-width: 540px;
    min-height: 60px;
    padding-left: 31px;
    margin-bottom: 24px;
    border: 1px solid #333333;
    border-radius: 6px;
}
.contact-form__input::placeholder {
    font-size: 16px;
    line-height: 62px;
    color: rgba(19, 39, 67, 0.5);
}
.contact-form__input_name {
    min-width: 255px;
}
.contact-form__input_name:first-child {
    margin-right: 30px;
}
.contact-form__button {
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contact-form__button:hover {
    border-color: black;
    color: black;
    font-weight: 700;
}

.footer {
    max-width: 1440px;
    min-height: 435px;
    padding: 85px 202px 86px 161px;
    margin: 0 auto;
    font-size: 12px;
    color: #101010;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
}
.footer-list-item__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 33px;
}
.footer-list-item__description {
    line-height: 18px;
    margin-bottom: 7px;
}
.footer-list-item__description-link:hover {
    color: #ED4C5C;
}
.footer-list-item__social {
    display: flex;
    justify-content: space-between;
    max-width: 66px;
}
.footer-list-item__social-item {
    border: 1px solid transparent;
    border-radius: 3px;
}
.footer-list-item__social-item:hover {
    border-color: #000000;
}
.footer-list-item-image img {
    max-width: 216px;
    min-height: 31px;
    object-fit: cover;
}
.footer-copyright {
    line-height: 14px;
}

@media (max-width: 1280px) {
    .overview {padding: 0 130px 0 83px;}
    .features {padding: 84px 83px 0 83px;}
    .features-list__item-image img {max-width: 320px; min-height: 220px;}
    .feature-list__item-text {max-width: 263px;}
    .technology {padding: 84px 83px 0 83px;}
    .mobile-apps {padding: 0 130px 0 83px;}
    .contact {padding: 59px 83px 0 83px;}
    .footer {padding: 85px 83px 86px 83px;}
}

@media (max-width: 1024px) {
    .header {padding: 0 83px; margin-bottom: 70px;}
    .overview-text {max-width: 320px;}
    .overview-image__item {max-width: 415px; min-height: 281px;}
    .features-list__item-image img {max-width: 250px; min-height: 150px;}
    .feature-list__item-text {max-width: 200px; margin-left: 25px;}
    .feature-list__item-text-heading {font-size: 16px;}
    .technology-list__item {max-width: 195px;}
    .technology-list__item-wrap {padding: 0 52px;}
    .technology-list__item-wrap-number {font-size: 80px; margin-bottom: 10px;}
    .technology-list__item-wrap-image {margin-bottom: -9px;}
    .technology-list__item-wrap-image img {width: 60px;}
    .mobile-apps-text {max-width: 320px;}
    .mobile-apps-photo img {max-width: 415px; min-height: 281px;}
    .contact {padding-top: 84px}
    .contact-text {max-width: 350px;}
    .contact-form {max-width: 450px;}
    .contact-form__input {min-width: 450px;}
}

@media (max-width: 912px) {
    .header {padding: 0 42px;}
    .overview {padding: 0 65px 0 42px;}
    .features {padding: 84px 42px 0 42px;}
    .technology {padding: 84px 42px 0 42px;}
    .mobile-apps {padding: 0 65px 0 42px;}
    .contact {padding: 84px 42px 0 42px;}
    .footer {padding: 85px 42px 86px 42px;}
}

@media (max-width: 820px) {
    .header {padding: 0 15px;}
    .overview-image__item {max-width: 365px; min-height: 231px;}
    .feature-list__item-text {max-width: 150px; margin-bottom: -185px;}
    .features-list__item-image img {max-width: 200px; min-height: 100px;}
    .technology-list__item {max-width: 175px;}
    .technology-list__item-wrap {padding: 0 42px;}
    .mobile-apps-photo img {max-width: 365px; min-height: 231px;}
    .contact-form {max-width: 350px;}
    .contact-form__input {min-width: 350px;}
}

@media (max-width: 768px) {
    .header-menu {justify-content: space-around;}
    .header-menu__item {font-size: 10px;}
    .overview-image__item {max-width: 315px; min-height: 181px;}
    .mobile-apps-photo img {max-width: 315px; min-height: 181px;}
    .contact-text {max-width: 300px;}
    .contact-form {max-width: 300px;}
    .contact-form__input {min-width: 300px;}
}

@media (max-width: 540px) {
    .header {justify-content: space-around;}
    .header__logo {display: none;}
    .header__button {display: none;}
    .first-screen__text_heading {font-size: 52px; text-align: center;}
    .overview {flex-direction: column-reverse; padding: 25px 65px 25px 42px;}
    .features-list__item:nth-child(3) {display: none;}
    .technology {padding-bottom: 50px;}
    .technology-list {flex-wrap: wrap;}
    .mobile-apps {flex-direction: column-reverse; padding: 25px 65px 25px 42px;}
    .contact {justify-content: center ;flex-direction: column; align-items: center; padding-top: 0; min-height: 500px;}
    .contact-text__heading {text-align: center; margin-bottom: 5px;}
    .contact-form__input {min-height: 40px; margin-bottom: 10px;}
    .footer {padding: 43px 42px 43px 42px;}
    .footer-list {flex-direction: column; align-items: center;}
    .footer-list-item {min-width: 216px; margin-bottom: 10px;}
    .footer-list-item__heading {margin-bottom: 10px;}
}

@media (max-width: 414px) {
    .header {margin-bottom: 80px; padding: 0;}
    .header-menu {min-width: 350px;}
    .first-screen__text_heading {font-size: 38px; text-align: center;}
    .first-screen__text_description {font-size: 14px;}
    .features-list {justify-content: center;}
    .features-list__item:nth-child(2) {display: none;}
}


@media (max-width: 390px) {
    .header {margin-bottom: 40px;}
    .header-menu {flex-direction: column; min-width: 300px;}
    .first-screen__text_heading {font-size: 32px; margin-bottom: 20px;}
    .first-screen__text_description {font-size: 12px; margin-bottom: 20px;}
    .overview {padding: 10px 10px;}
    .overview-image__item {max-width: 300px; min-height: 166px;}
    .mobile-apps {padding: 10px 10px;}
    .mobile-apps-photo img {max-width: 300px; min-height: 166px;}
    .contact {padding: 0 10px;}
}


@media (max-width: 280px) {
    .header-menu {flex-direction: column; min-width: 260px;}
    .overview {padding: 10px 10px;}
    .overview-image__item {max-width: 260px; min-height: 126px;}
    .mobile-apps {padding: 10px 10px;}
    .mobile-apps-photo img {max-width: 260px; min-height: 126px;}
    .contact {padding: 0 10px;}
    .contact-form {max-width: 260px;}
    .contact-form__input {min-width: 260px;}
    .footer {padding: 21px 21px 21px 21px;}
}
